body {
    background-color: #80d4ea;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    font-size: 100px;
}

button {
  font-size: 30px;
}

.orange {
  color: orange;
}

.black: {
  color: black;
}

.white {
  color: white;
}
